<p-table [columns]="cols" [value]="products" responsiveLayout="scroll" [paginator]="true" [rows]="4" responsivelayout="scroll">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns"
            [pSortableColumn]="col.field"
            >{{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon> 
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<button (click)="confirm()" pButton icon="pi pi-check" label="Confirm"></button>



