.textInput{
    display: flex;
    flex-direction: column;
    padding-top: 39px;
 

}
.title{
    padding-top: 60px;
    
}
.username{
padding-bottom: 8px;
}
.password{
    padding-bottom: 8px;

}
// .lebel-user{

// }
.label-pass{
    padding-bottom: 8px;
    padding-top: 8px;
}
.forpass{
    padding-top: 15px;
    padding-bottom: 15px;
}
.comments{
    padding-top: 30px;
    padding-bottom: 10px;
}
.inputbox{
    height: 60%;
}