<!-- <div class="container">
    <div class="row">
        <div class="col-6">
            <img src="../../assets/Group 34.svg" alt="">            

        </div>
        <div class="col-6">
            <div>
                <img src="../../assets/Group 48097092.svg" alt="">
                <img src="../../assets/Ones.svg" alt="">
                <img src="../../assets/Presence.svg" alt="">
            </div>

            <div  class="title" > Hey there, welcome back</div>
           <div class="textInput">
           <div class="username">
           <div  class="lebel-user">
            <label for="">Username</label>
           </div>
           </div>
           <div  class="inputbox" >
            <input [(ngModel)]="userData" type="text" pInputText />
           </div>
           <div class="password" >
            <div  class="label-pass">
                <label for="">Password</label>
            </div>
           </div>
            <div>
                <input [(ngModel)]="userVar" type="text" pInputText />
            </div>
           </div>
           <div  class="forpass" >Forgot Password?</div>
           <div> -->
            <!-- <button pButton type="button" label="Primary"></button> -->
             <!-- <button pButton type="button" label="Submit" (click)="save()" class="p-button-text"></button> -->
           <!-- </div>
           <div class="comments"  >
            © 2020 Crafted and designed by Misfits. 
           </div>
           

        </div>
    </div>
</div> 

<div *ngFor="let product of products"  >
   <p>{{product.username}} === {{product.type}}  ==== {{product.email}} </p>
   <p></p>

</div>



<div>
    <label for="">username</label>
</div>
<div>
    <input [(ngModel)]="userData" type="text">
</div>
<div>
    <label for="">Type</label>
</div>
<div>
    <input [(ngModel)]="userVar" type="text">
</div>
<div>
    <label for="">email</label>
    <input [(ngModel)]="userBrw" type="text">
</div>
<div>
    <button (click)="save()"  >Save</button>
</div>
<div>
    <label for="">username</label>
</div>
<div>
    <input [(ngModel)]="userData" type="text">
</div>
<div>
    <label for="">Type</label>
</div>
<div>
    <input [(ngModel)]="userVar" type="text">
</div>
<div>
    <label for="">email</label>
    <input [(ngModel)]="userBrw" type="text">
</div>
<div>
    <button (click)="save()"  >Save</button>
</div> -->

<!-- <p>{{}}</p>  -->


