<div>
    Form and Field Validation
    </div>
<div [formGroup]="user">
    <div>
        <label for="">Name</label>
        <input type="text" formControlName="name">

        <div *ngIf="college['name'].invalid && (college['name'].dirty||college['name'].touched)">
            <div class="nameInput" *ngIf="college['name'].errors?.required">
                name is required
            </div> 
        </div>
    </div>
    <div>
        <label for="">Email</label>
        <input type="text" formControlName="email">
        <div *ngIf="college['email'].invalid && (college['email'].dirty||college['email'].touched)">
            <div class="nameInput" *ngIf="college['email'].errors?.required">
                email is required
            </div>
            <span class="nameInput" *ngIf="college['email'].errors?.['pattern']">Invalid email address format</span>
        </div>
        <div>
            <label for="">Mobile</label>
            <input type="text" formControlName="mobile" type="number" 
            onKeyPress="if(this.value.length==10) return false;">
            <div *ngIf="college['mobile'].invalid && (college['mobile'].dirty||college['mobile'].touched)">
                <div class="nameInput" *ngIf="college['mobile'].errors?.required">
                    mobile is required
                </div>
            </div>
                <label for="">message</label>
                <input type="text" formControlName="message">
                <div *ngIf="college['message'].invalid && (college['message'].dirty||college['message'].touched)">
                    <div class="nameInput" *ngIf="college['message'].errors?.required">
                        message is required
                    </div>
                </div>
            <div>
                <button (click)="save()">
                    save
                </button>
                <!-- <app-loopcard></app-loopcard> -->
            </div>
            

