
<div>
    Form and Field Validation
    </div>
<div [formGroup]="user">
    <div>
        <label for="">Name</label>
        <input type="text" formControlName="name">

        <div *ngIf="school['name'].invalid && (school['name'].dirty||school['name'].touched)">
            <div class="nameInput" *ngIf="school['name'].errors?.required">
                name is required
            </div>
        </div>
    </div>
    <div>
        <label for="">Email</label>
        <input type="text" formControlName="email">
        <div *ngIf="school['email'].invalid && (school['email'].dirty||school['email'].touched)">
            <div class="nameInput" *ngIf="school['email'].errors?.required">
                email is required
            </div>
            <span class="nameInput" *ngIf="school['email'].errors?.['pattern']">Invalid email address format</span>
        </div>
        <div>
            <label for="">Mobile</label>
            <input type="text" formControlName="mobile" type="number" 
            onKeyPress="if(this.value.length==10) return false;">
            <div *ngIf="school['mobile'].invalid && (school['mobile'].dirty||school['mobile'].touched)">
                <div class="nameInput" *ngIf="school['mobile'].errors?.required">
                    mobile is required
                </div>
            </div>
                <label for="">message</label>
                <input type="text" formControlName="message">
                <div *ngIf="school['message'].invalid && (school['message'].dirty||school['message'].touched)">
                    <div class="nameInput" *ngIf="school['message'].errors?.required">
                        message is required
                    </div>
                </div>
            <div>
                <button (click)="save()">
                    save
                </button>
            </div>