    <h2>
        Form with Validation and Routing
    </h2>
<div [formGroup]="user">
    <div>
        <label for="">Name</label>
        <input type="text" formControlName="name">

        <div *ngIf="register['name'].invalid && (register['name'].dirty||register['name'].touched)">
            <div class="nameInput" *ngIf="register['name'].errors?.required">
                name is required
            </div>
        </div>
    </div>
    <div>
        <label for="">Email</label>
        <input type="text" formControlName="email">
        <div *ngIf="register['email'].invalid && (register['email'].dirty||register['email'].touched)">
            <div class="nameInput" *ngIf="register['email'].errors?.required">
                email is required
            </div>
            <span class="nameInput" *ngIf="register['email'].errors?.['pattern']">Invalid email address format</span>
        </div>
        <div>
            <label for="">Mobile</label>
            <input type="text" formControlName="mobile" type="number" 
            onKeyPress="if(this.value.length==10) return false;">
            <div *ngIf="register['mobile'].invalid && (register['mobile'].dirty||register['mobile'].touched)">
                <div class="nameInput" *ngIf="register['mobile'].errors?.required">
                    mobile is required
                </div>
            </div>
                <label for="">message</label>
                <input type="text" formControlName="message">
                <div *ngIf="register['message'].invalid && (register['message'].dirty||register['message'].touched)">
                    <div class="nameInput" *ngIf="register['message'].errors?.required">
                        message is required
                    </div>
                </div>
            <div>
                <button (click)="save()">
                    save
                </button>
            </div>